name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Toolchain
      run: rustup toolchain install nightly
    - name: Build release
      run: rustup run nightly cargo build -p proxychains_rs --release
    - name: Run tests
      run: cargo test --verbose
